## gradle
/.gradle
/build
## /gradle
## /gradlew
## /gradlew.bat

## ForgeGradle
/run

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml

/assets/forge/
/download
/libs

/MinecraftForge-License.txt
/README.txt
/MinecraftForge-Credits.txt
/forge-*-changelog.txt
/LICENSE-fml.txt
/CREDITS-fml.txt